/__pycache__
/pdbbind_2020
/*.pdb
/*.pickle
/*.png
/*.zarr
/pdbbind_rosetta
/pdbbind_2020plus
/posebusters_paper_data
/pdbbind_cleaned
log.txt
error.txt
test_out/*
h5_test/*
*_h5/
failed_logs/
docking_stats/